* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 400px;
    height: 400px;
    outline: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
}

.cell {
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid black;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}