* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: grid;
    justify-items: center;
}

.btn {
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 1em;
    padding: 0.25em 1.25em;
}

.container {
    width: 400px;
    height: 400px;
    outline: 1px solid black;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
}

.cell {
    position: relative;
    border: 1px solid black;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}